@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  background-color: #0b2434;
  font-family: "karla", Verdana, Geneva, Tahoma, sans-serif;
}

main {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.5rem;
  width: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 2rem;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 2.5rem;
}
.instructions {
  font-size: 1.25em;
  line-height: 1.5;
  width: 80%;
  text-align: center;
}
.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 16px;
}
.die-num {
  color: #0b2434;
  font-size: 60px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}
.die-num-active {
  color: #5035ff;
  font-size: 60px;
  transition: all 0.2s ease-in-out;
}
.die-num:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: #0b2434d7;
}
.die-num-active:hover {
  color: #4024f6;
  cursor: pointer;
  transform: scale(1.1);
}
.btn-roll {
  height: 10vh;
  width: 20vh;
  background-color: hsl(248, 100%, 55%);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: x-large;
  font-weight: 600;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 10%);
  transition: 0.2s all;
}
.btn-roll:hover {
  cursor: pointer;
  background-color: #5035ff;
  transform: scale(1.1);
}
.btn-roll:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
