*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
main {
  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 1.5rem;
}
.instructions {
  font-size: 1.25em;
  text-align: center;
  line-height: 1.5;
}
.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}
.die-num {
  color: #0b2434;
  font-size: 60px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.die-num-active {
  color: #5035ff;
  font-size: 60px;
}
.die-num:hover {
  cursor: pointer;
  color: #0b2434d7;
}
.die-num-active:hover {
  color: #4024f6;
  cursor: pointer;
}
.btn-roll {
  height: 10vh;
  width: 20vh;
  background-color: hsl(248, 100%, 55%);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: x-large;
  font-weight: 600;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 10%);
}
.btn-roll:hover {
  cursor: pointer;
  background-color: #5035ff;
}
.btn-roll:active {
  box-shadow: inset 2px 2px 4px 3px rgba(0, 0, 0, 0.3);
}
