header {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.25em;
    line-height: 1.5;
    width: 80%;
    text-align: center;
  }
}
